@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --light--primary: 95, 36, 219;
    --light--secondary: 31, 170, 213;
    --light--background: 238, 239, 244;
    --light--emphasis: 227, 217, 248;
    --light--foreground: 0, 2, 15;
    --light--primary-foreground: 234, 228, 247;
    --light--secondary-foreground: 206, 237, 247;
    --light--foreground-variant: 55, 55, 55;
    --light--surface: 244, 241, 251;
    --light--emphasis-foreground: 44, 31, 72;
    --light--surface-high: 228, 223, 240;
    --dark--background: 18, 18, 18;
    --dark--emphasis: 53, 44, 71;
    --dark--foreground: 210, 210, 210;
    --dark--surface-foreground: 211, 213, 232;
    --dark--foreground-variant: 212, 214, 229;
    --dark--primary: 158, 120, 238;
    --dark--primary-foreground: 27, 12, 59;
    --dark--surface: 30, 28, 33;
    --dark--surface-high: 42, 38, 48;
    --dark--emphasis-foreground: 208, 199, 227;

    /*--background: 0 0% 100%;
    --foreground: 240 10% 3.9%; */

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    /*--border: 240 5.9% 90%;
    --input: 240 5.9% 90%; */

    /*--primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%; */

    --primary: var(--light--primary);
    --secondary: var(--light--secondary);
    --background: var(--light--background);
    --emphasis: var(--light--emphasis);
    --foreground: var(--light--foreground);
    --primary-foreground: var(--light--primary-foreground);
    --secondary-foreground: var(--light--secondary-foreground);
    --foreground-variant: var(--light--foreground-variant);
    --surface: var(--light--surface);
    --emphasis-foreground: var(--light--emphasis-foreground);
    --surface-high: var(--light--surface-high);

    --destructive: var(--light--destructive);
    --destructive-foreground: var(--light--destructive-foreground);

    --radius: 0.5rem;

    --card: var(--surface);
    --card-foreground: var(--foreground);
  }

  .dark {
    --primary: var(--dark--primary);
    --secondary: var(--dark--secondary);
    --background: var(--dark--background);
    --emphasis: var(--dark--emphasis);
    --foreground: var(--dark--foreground);
    --primary-foreground: var(--dark--primary-foreground);
    --secondary-foreground: var(--dark--secondary-foreground);
    --foreground-variant: var(--dark--foreground-variant);
    --surface: var(--dark--surface);
    --emphasis-foreground: var(--dark--emphasis-foreground);
    --surface-high: var(--dark--surface-high);
    

    /**/
    /* --card: 240 10% 3.9%; */
    /* --card-foreground: 0 0% 98%; */
    /**/
    /* --border: 240 3.7% 15.9%; */
    /* --input: 240 3.7% 15.9%; */
    /**/
    /* --primary: 0 0% 98%; */
    /* --primary-foreground: 240 5.9% 10%; */
    /**/
    /* --secondary: 240 3.7% 15.9%; */
    /* --secondary-foreground: 0 0% 98%; */
    /**/
    /* --accent: 240 3.7% 15.9%; */
    /* --accent-foreground: 0 0% 98%; */
    /**/
    /* --destructive: 0 62.8% 30.6%; */
    /* --destructive-foreground: 0 0% 98%; */

    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border font-sans;
  }
  body {
    @apply bg-background text-foreground;
  }
}
